.fourth-section {
  padding-top: 3.2rem;

  &__title {
    position: relative;
    z-index: 1;
    padding-left: $mobile-offset;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: $roboto-condensed;
    font-size: 4.8rem;
    line-height: 5rem;
    font-weight: 700;
    color: $crimson;
  }

  &__first-text {
    padding-left: $mobile-offset;
    padding-right: $mobile-offset;
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: $source-sans-pro;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $blue-charcoal;
  }

  &__second-text {
    padding-left: $mobile-offset;
    padding-right: $mobile-offset;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $source-sans-pro;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $blue-charcoal;
  }
}