.slider {
  width: 76.8rem;

  &__slide {
    height: 56rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  &__text {
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    width: 64.4rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-family: $source-sans-pro;
    font-weight: 200;
    color: $rolling-stone;

    &.--narrow {
      width: 61.1rem;
    }

    &.--wide {
      width: 72.4rem;
    }
  }

  & .slick-dots {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    & li {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.6rem;
      background-color: $midnight-blue;
      font-size: 0;
      border-radius: 50%;
      transition: background-color .3s linear;

      &.slick-active {
        background-color: $crimson;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    & button {
      display: none;
    }
  }
}