.slider {
  width: 76.8rem;

  @include respond-to(desktop) {
    width: 835px;
  }

  @include respond-to(large-desktop) {
    width: 83.5rem;
  }

  &__container {
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      background-color: white;
      height: 56rem;

      @include respond-to(desktop) {
        height: 560px;
      }

      @include respond-to(large-desktop) {
        height: 56rem;
      }
    }
  }

  &__image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 56rem;

    @include respond-to(desktop) {
      height: 560px;
    }

    @include respond-to(large-desktop) {
      height: 56rem;
    }
  }

  &__text {
    margin-top: 2.5rem;
    margin-bottom: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    width: 49rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-family: $source-sans-pro;
    font-weight: 200;
    color: $rolling-stone;

    @include respond-to(desktop) {
      margin-top: 25px;
      margin-bottom: 12px;
      width: 644px;
      font-size: 18px;
      line-height: 21px;
    }

    @include respond-to(large-desktop) {
      margin-top: 2.5rem;
      margin-bottom: 1.2rem;
      width: 64.4rem;
      font-size: 1.8rem;
      line-height: 2.1rem;
    }

    &.--narrow {
      width: 61.1rem;

      @include respond-to(desktop) {
        width: 611px;
      }

      @include respond-to(large-desktop) {
        width: 61.1rem;
      }
    }

    &.--wide {
      width: 72.4rem;

      @include respond-to(desktop) {
        width: 760px;
      }

      @include respond-to(large-desktop) {
        width: 76rem;
      }
    }
  }

  & .slick-dots {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    & li {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.6rem;
      background-color: $midnight-blue;
      font-size: 0;
      border-radius: 50%;
      transition: background-color .3s linear;

      @include respond-to(desktop) {
        width: 14px;
        height: 14px;
        margin-right: 6px;
      }

      @include respond-to(large-desktop) {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.6rem;
      }

      &.slick-active {
        background-color: $crimson;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    & button {
      display: none;
    }
  }
}