.first-section {
  padding-left: $mobile-offset;
  padding-right: $mobile-offset;

  @include respond-to(desktop) {
    padding-left: $desktop-offset;
    padding-right: 90px;
    width: $desktop-container;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-to(large-desktop) {
    padding-left: $large-desktop-offset;
    padding-right: 9rem;
    width: $large-desktop-container;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: $roboto-condensed;
    font-weight: 300;
    font-size: 4.8rem;
    line-height: 5rem;
    color: $midnight-blue;

    @include respond-to(desktop) {
      margin-bottom: 30px;
      font-size: 48px;
      line-height: 50px;
    }

    @include respond-to(large-desktop) {
      margin-bottom: 3rem;
      font-size: 4.8rem;
      line-height: 5rem;
    }
  }

  &__top-subtitle {
    display: block;
    font-weight: 700;
    color: $crimson;
  }

  &__bottom-subtitle {
    display: block;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $source-sans-pro;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $blue-charcoal;

    @include respond-to(desktop) {
      font-size: 18px;
      line-height: 21px;
    }

    @include respond-to(large-desktop) {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
  }
}