@import "./mixins";
@import "./fonts";
@import "./colors";

$mobile-offset: 4rem;

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

.text-highlight {
  display: inline-block;
  background-image: linear-gradient(to right, $midnight-blue, $lochmara);
  color: white;
}

.text-space {
  display: inline-block;
  width: 0.5em;
}