$max-narrow-mobile: 320px;
$min-desktop: 1024px;
$min-large-desktop: 1920px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $min-desktop) {
      @content;
    }
  }

  @if $media == narrow-mobile {
    @media (max-width: $max-narrow-mobile) {
      @content;
    }
  }

  @if $media == default-mobile {
    @media only screen and (min-width: $max-narrow-mobile) and (max-width: $min-desktop) {
      @content;
    }
  }

  @if $media == desktop {
    @media only screen and (min-width: $min-desktop) {
      @content;
    }
  }

  @if $media == default-desktop {
    @media only screen and (min-width: $min-desktop) and (max-width: $min-large-desktop) {
      @content;
    }
  }

  @if $media == large-desktop {
    @media only screen and (min-width: $min-large-desktop) {
      @content;
    }
  }
}

@mixin container() {
  padding-left: 15px;
  padding-right: 15px;

  @media only screen and (max-width: $max-narrow-mobile) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media only screen and (min-width: $min-desktop) {
    margin: 0 auto;
    width: 120.8rem;
  }

  @media only screen and (min-width: $min-large-desktop) {
    width: 1208px;
  }
}