.footer {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 5.5rem;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 76.8rem;
    height: 96.9rem;
    background-image: url(./images/mobile-footer-first-image.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    position: relative;
    padding-left: $mobile-offset;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 2.8rem;
    font-family: $roboto-condensed;
    font-weight: 300;
    font-size: 4.8rem;
    line-height: 4.6rem;
    color: $midnight-blue;
  }

  &__top-subtitle {
    display: block;
    font-weight: 700;
    color: $crimson;
  }

  &__middle-subtitle {
    display: block;
  }

  &__bottom-subtitle {
    display: block;
  }

  &__image-container {
    position: relative;
    padding-top: 64.5rem;
    margin-bottom: 1.6rem;
    padding-right: 8.3rem;
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 13.1rem;
    width: 51.8rem;
    height: 66.6rem;
    background-image: url(./images/footer-photo.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__author {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $roboto-condensed;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: $midnight-blue;
  }

  &__name {
    display: block;
    font-weight: 700;
    color: $crimson;
  }

  &__desc {
    display: block;

    & span {
      display: block;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60.5rem;
    padding-top: 6.2rem;
    padding-right: 11.9rem;
    padding-bottom: 7rem;
    padding-left: 9.2rem;
    background-image: url(./images/footer-text-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: $source-sans-pro;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $blue-charcoal;
  }
}